# Supabase key
NEXT_PUBLIC_SUPABASE_URL=https://key.supabase.co
SUPABASE_SECRET_KEY=sb_secret_5DVWt


#R2 storage

R2_BUCKET_NAME= kolab
R2_ID= r2_id_value
R2_KEY= r2_key_value
R2_SECRET= r2_secret_value
R2_PUBLIC_URL= https://r2_public_url_value